/*.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 100vh;
    padding: 5px 10px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    position: absolute;
    //margin: 5px;
    border: solid black;
    z-index: 1;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -4px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}*/
@import "~compass-mixins/lib/compass";

$tooltip: 2vh;
$t-color: #e9ebee;
$t-bg: #3b5998;//#3c3f41;

.tooltip{
  display: block !important;
  z-index: 9999;

  &, & *:not(p){
    @include filter( drop-shadow(0 0 0.4vh rgba(#000, 0.15)) );

    @include transition-property(opacity, visibility);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);
  }

  & .tooltip-arrow{
    width: 0;
    height: 0;
    position: absolute;
    border: $tooltip solid transparent;
    @include scale(0.8, 0.5);
    margin: 0;
    z-index: 1;
  }

  & .tooltip-inner{
    background-color: $t-bg;
    color: $t-color;
    @include border-radius(100vh);
    padding: 1vh;
    font-size: $tooltip;
  }

  &[aria-hidden="false"]{
    visibility: visible;
    opacity: 1;
  }

  &[aria-hidden="true"]{
    visibility: hidden;
    opacity: 0;
  }

  &[x-placement="top"]{
    margin-bottom: $tooltip;
    & .tooltip-arrow{
      border-bottom-width: 0;
      border-top-color: $t-bg;
      bottom: -1 * $tooltip;
      left: calc(50% - #{$tooltip});
    }
    & .tooltip-inner{
      margin-bottom: -1 * $tooltip;
    }

  }

  &[x-placement="bottom"]{
    margin-top: $tooltip;
    & .tooltip-arrow{
      border-top-width: 0;
      border-bottom-color: $t-bg;
      top: -1 * $tooltip;
      left: calc(50% - #{$tooltip});
    }

    & .tooltip-inner{
      margin-top: -1 * $tooltip;
    }
  }

  &[x-placement="left"]{
    margin-right: $tooltip;
    & .tooltip-arrow{
      border-right-width: 0;
      border-left-color: $t-bg;
      right: -1 * $tooltip;
      top: calc(50% - #{$tooltip});
    }

    & .tooltip-inner{
      margin-right: -1 / 3 * $tooltip;
    }
  }

  &[x-placement="right"]{
    margin-left: $tooltip;
    & .tooltip-arrow{
      border-left-width: 0;
      border-right-color: $t-bg;
      left: -1 * $tooltip;
      top: calc(50% - #{$tooltip});
    }

    & .tooltip-inner{
      margin-left: -1 * $tooltip;
    }
  }

}