/**@@ <TEMPLATE> @@**/
/*@font-face{
	font-family: ;
	src: url("");
}*/
/**@@ </TEMPLATE> @@**/

/*///////////////////////////////////////////////////////////////*/

@font-face{/* r -> Roboto*/
	font-family: "r";
	src: url("/assets/fonts/ttf/Roboto-Light.ttf");
}
